@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    News</h2>
<ul>
    <li>@Html.ActionLink("South Africa", "SouthAfrica", "News")</li>
    <li>@Html.ActionLink("Kenya", "Kenya", "News")</li>
    <li>@Html.ActionLink("Tanzania", "Tanzania", "News")</li>
    <li>@Html.ActionLink("Uganda", "Uganda", "News")</li>
    <li>@Html.ActionLink("Zambia", "Zambia", "News")</li>
    <li>@Html.ActionLink("Zimbabwe", "Zimbabwe", "News")</li>
</ul>
